/*****************************************************
                    Base Rules
 *****************************************************/

@font-face {
    font-family: "NevisBold";
	src: url('../assets/fonts/nevis.ttf');
}

@font-face {
    font-family: "GothamCondensed";
	src: url('../assets/fonts/gclr.otf');
}

@font-face {
  font-family: "GothamBold";
  src: url("../assets/fonts/gothambold.otf");
}


h1, h2, h3 {
    font-family: "NevisBold";
    text-transform: uppercase;
}

h1 {
    font-size: 36px;
    font-weight: 300;
    line-height: 1.1;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-family: "GothamCondensed";
    font-weight: 600;
    letter-spacing: .03em;
}

h5 {
    font-size: 20px;
    font-family: "GothamBold";
}

h6 {
    font-size: 20px;
    font-family: "GothamBold";
    text-transform: uppercase;
}

h7 {
    font-size: 20px;
    font-family: "GothamBold";
    text-transform: uppercase;
}

p, a {
    font-family: "GothamBold";
    line-height: 1.2;
}

a:hover {
    text-decoration: none;
}

/* I prefer cursive here.  GothamBold doesn't go below
    a certain thickness (font-weight: 600) */
p.description {
    font-size: 16px;
}

/* This is a size adjustment to make font sizes
responsive starting at the medium screen size */
@media(min-width: 768px) {
    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 24px;
    }

    h5 {
        font-size: 24px;
    }

    p {
        font-size: 18px;
    }
}

@media(min-width: 992px) {

    h7 {
        font-size: 24px;
    }
}

/*****************************************************
                    Modules
 *****************************************************/

/****************  Navbar *******************/

#navContainer{
	max-height: 310px;
	width: 100%;
	transition: .3s;
	background-color: #2A3442;
	z-index: 200;
    position: fixed;
}

.bg-dark{
	background-color: #2A3442 !important;
}
#companyLogo{
	height: 30px;
	width: 75px;
	margin-left: 15px;
}

.navbar-nav li{
	text-align: center;
}

.nav-link-txt{
	color: #9d7341;
	font-family: "GothamBold";
	font-size: 20px;
}

.header-page-highlight{
	color: #
}

.nav-link-txt:hover{
	color: white;
}

#contact-link-btn{
	border: none;
	background-color: transparent;
}

.fancyHR{
	display: none;
}


@media only screen and (min-width: 767px) {
	#navContainer{
		height: 90px;
		width: 100%;
		background-color: transparent;
	}
	.bg-dark{
		background-color: transparent !important;
	}
	.navbar{
		max-width: 1040px;
		height: 90px;
		margin: auto;
		padding: 0;
	}
	#companyLogo{
		position: relative;
		margin-left: 0;
		top: -4px;
		width: 150px;
		height: 55px;
	}
	a.nav-link{
		padding: 0 !important;
		margin-left: 25px;
		position: relative;
		top: 7px;
	}
	a.nav-link:hover{
		text-decoration: underline;
	}
	.nav-link-txt{
		color: white;
		font-size: 14px;
	}

	#contact-link-btn{
		border: 2px solid white;
		border-radius: 0;
		padding: 0px 10px 5px 10px;
		background-color: transparent;
		position: relative;
		top: -3px;
	}
	#contact-link-btn span{
		position: relative;
		top:1px;
	}
	#contact-link-btn:hover{
		background-color: white;
	}
	#contact-link-btn:hover span{
		color: #9d7341;
	}
	.fancyHR{
		display: block;
		border-top: 1px solid #9A9A9A;
		position: relative;
		top: -25px;
		max-width: 1040px;
	}
}

/*******************   Header   ****************/

#header {
    position: relative;
}

/* Parallax effect */
.parallax-window {
    background: transparent;
}

/* This places the white left-to-right
    gradient directly over the header image */
#header-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent, rgba(255,255,255,.3));
}

/* this class is assigned to headerers where the background img is
    too bright and the contrast is not good with the white text. */
#header-overlay.contrast-fix {
    background: linear-gradient(to right, transparent, rgba(255,255,255,.3)),
                rgba(0,0,0,.5);
}

#header-bg-img {
    /* Flex is required as the parent element of #header-content to vertically center header-content */
    display: flex;
    height: 100%;
}

/* To keep text from taking up the entire screen on
    larger screens. */
#header-content {
    max-width: 1024px;
    /* this rests the text over the backgound layers */
    z-index: 2;
}

/* The border-type line directly below the header image */
#header-border {
    height: 10px;
    width: 100%;
}

/*************  Quote Section   *****************/

#quotes {
    background: #2A3442;
    margin: 35px 0;
}

#quotes p {
    color: white;
}

#quotes .carousel-item {
    height: 300px;
}

.quote {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}

.quote img {
    width: 20px;
    margin: 0 auto 10px;
}

.quote p:last-child {
    font-family: "GothamCondensed";
    font-size: 20px;
    letter-spacing: 1px;
}


 /*****************   Footer    *****************/

  #footerContainer{
  	display: block;
  	width: 100%;
  	background: #2A3442;
  	min-height: 83px;
  }

  #footerContent{
  	max-width: 1040px;
  	min-height: 83px;
  	color: white;
  	padding-top: 20px;
  	margin: auto;
  }


  #footerLogo{
  	height: 45px;
  	width: 45px;
  	margin: 0px 10px;
  }

  #header-left-p,#header-right-p{
  	color: white !important;
  	font-family: "GothamCondensed";
  	font-size: 14px;
  }

  #header-right-p{
  	text-align: right;
  	position: relative;
	top: 5px;
  }

  #linkedIn-logo{
  	margin: 0px 20px 0px 10px;
  	font-size: 18px;
  	background-color: white;
  	color: #2A3442;
  	padding: 3px !important;
  	border-radius: 5px;
  	vertical-align: text-bottom;
  	min-width: 12px;
  }

  #footerGradient{
  	display: block;
  	height: 10px;
  	width: 100%;
  	background: linear-gradient(to right, #9d7341, #c4ab8d);
  	z-index: 2000;
  }

/******************** Theme Button ****************/

.btn-theme-button {
    display: block;
    padding: 10px 15px;
    background: transparent;
    text-transform: uppercase;
    text-align: center;
    border: 2px solid #9d7341;
    max-width: 200px;
}


/*****************************************************
                    State
 *****************************************************/

.btn-theme-button {
    transition: background .3s,
                padding-right ease-out .3s .1s;
}

.btn-theme-button:hover {
    background: #9d7341;
    padding-right: 5px;
    color: white;
    text-decoration: none;
}

.btn-theme-button span {
    transition: padding-left ease-out .3s .1s;
}

.btn-theme-button:hover span{
    padding-left: 10px;
}

/*****************************************************
                    Themes
 *****************************************************/

h2, h3, h4, h6, p, a {
    color: #2a3442;
}

hr {
    background: #2a3442;
}

#header hr {
    width: 40%;
    max-width: 450px;
}

.theme-bg-color-brown {
    background: linear-gradient(to right, #9d7341, #c4ab8d);
}
