@font-face {
    font-family: "GothamBold";
	src: url('../assets/fonts/gothambold.otf');
}

@font-face {
    font-family: "GothamCondensedLight";
	src: url('../assets/fonts/gclr.otf');
}

body{
	background-color: black;
	min-height: 100vh;
}

#navContainer{
	position: fixed;
	margin-bottom: 0;
	width: 100%;
	height: 90px;
	background-color: transparent;
	border-radius: 0;
	border: none;
	transition: 0.3s;
	z-index: 201;
}

#contentContainer{
	max-width: 1040px;
	padding: 0;
	z-index: 200;
}


#companyLogo{
	position: relative;
	top: 12px;
	max-width: 150px;
	max-height: 60px;
}

.navbar-right{
	margin-right: 0;
	position: relative;
	top: 8px;
}

#tabList{
	margin: 16px 0px 16px 40px;
	padding: 0;
}

#tabList li{
	display: inline;
	margin-left: 20px;
}

#tabList a{
	padding: 0;
}
.navbarTab{
	color: white;
	margin: 0;
	font-family: "GothamBold";
}

#contact-btn{
	background-color: transparent;
	margin: 0;
	padding: 5px 10px;
	border: 2px solid #fff;
	border-radius: 0;
	transition: .2s;
}

label:hover,a:hover{
	text-decoration: underline;
	cursor: pointer
}

#contact-btn:hover{
	background-color: white;
	color: #9D7341;

}

hr{
	position: relative;
	top: 14px;
	margin: 8px 0px;
	width: 100%;
	border-bottom: none;
	border-top: 1px solid #9A9A9A;
}

h3{
	color: white;
}

div#footerContainer{
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #2A3442;
}

#footerContent{
	max-width: 1040px;
	height: 83px;
	color: white;
	padding-top: 20px;
	margin: auto;
	font-family: "GothamCondensedLight";
	font-size: 12px;
}
#footerLogo{
	height: 45px;
	width: 45px;
	margin: 0px 10px;
}

#companyInformation{
	color: white;
}

#left{
	float: left;
}
#right{
	padding: 0px 10px;
	float: right;
}
#linkedIn-logo{
	margin: 0px 20px 0px 10px;
	font-size: 18px;
	background-color: white;
	color: #2A3442;
	padding: 5px;
	border-radius: 5px;
	position: relative;
	top: -5px;
}

#footerGradient{
	position: fixed;
	bottom: 0;
	height: 10px;
	width: 100%;
	background: linear-gradient(to right, #9d7341, #c4ab8d);
	z-index: 2000;
}
