#blog-search{
	margin:40px 0;
}
#category-select{
	width:25%;
}
.blog-search{
	
	width:50%;
	border:1px solid #2a3442;
}
.blog-search label{
	display:none;
}
.blog-search input[type="search"]{
    max-width: 300px;
    float: left;
    background-color: transparent;
    height: 20px;
    padding: 10px;
    font-family: "GothamBold";
	color:#2a3442;
	font-size:14px;
	margin-bottom:0;
}
select{
	background-color:transparent;
	border:2px solid #2a3442;
    font-family: "GothamBold";
	color:#2a3442;
	font-size:14px;
}
#searchsubmit{
    background-color: transparent;
    border: none;
    padding-top: 7px;
    float: right;
    color: #9d7341;
}
.pagination li {
    border-right: 1px solid #2a3442;
    border-top: 1px solid #2a3442;
    border-bottom: 1px solid #2a3442;
    font-family: "GothamBold";
}
.pagination .current {
    cursor: default;
    color: #fff;
    background: #9d7341;
    font-family: "GothamBold";
	
}
.page-numbers li:first-child{
    border-left: 1px solid #2a3442;
	
}
.pagination a, .pagination span{
	color:#9d7341;
    font-family: "GothamBold";
	
}
.pagination a:hover, .pagination a:focus, .pagination span:hover, .pagination span:focus, .pagination a.next:hover, .pagination .current:hover, .pagination .current:focus{
	background-color:#2a3442;
	color:#fff;
    font-family: "GothamBold";
	
}
.pagination a.next, .pagination a.prev{
	color:#2a3442;
}
.single .blog-date{
	top:0;
	width:auto;
}
.single p{
	margin-top:40px;
}