.footer{
	background-color:#2a3442;
}
.footer p{
    font-family: "GothamCondensed";
	font-size:12px;
	color:#fff;
	letter-spacing:2px;
}
.footer .left p{
    display: inline-block;
    margin-left: 10px;
    position: relative;
    bottom: 15px;
}
.footer .right a{
    display: inline-block;
    margin: 0 15px 0 0px;
    color: #fff;
    font-size: 22px;
}
.footer-logo{
	height:45px;
	width:45px;
	background-image:url('../images/footer-logo.png');
	background-size:contain;
	background-position:center;
	background-repeat:no-repeat;
	display:inline-block;
}
#footer-gradient{
    display: block;
    height: 10px;
    width: 100%;
    background: linear-gradient(to right, #9d7341, #c4ab8d);
}
#inner-footer{
    padding-top: 20px;
    border-top: 1px solid #fff;
}