.mobile-show{
	display:none;
}
.tab-show{
	display:none;
}
.mobile-nav{
	display:none;
}
#menu-primary-1{
	margin-left:0;
}
.mobile-nav li{
	list-style:none;
}
.not-slide-wrap .service{
	width:100% !important;
}
@media only screen and (max-width: 1024px) {
	.header{
		display:none;
	}
	#mobile-header{
		display:block;
	}
	.tab-hide{
		display:none;
	}
	.tab-show{
		display:block;
	}
	.owl-buttons {
	    width: 100% !important;
	    left: 0 !important;
	    position: absolute !important;
	    top: 145px !important;
	}
	.owl-next {
	    right: -45px;
	}
	.table-text td {
	    width: 100%;
	    display: block;
	    text-align: left;
	    margin-bottom: 15px;
	}
}
@media only screen and (max-width: 768px) {
	#home-hero #hero{
		padding:100px 0;
	}
	.vc_column-inner{
		padding-right:0 !important;
	}
	#interior-hero p{
		line-height:28px;
	}
	.blog-search{
		width:100%;
		margin-bottom:20px;
	}
	#category-select{
		width:100%;
		float:left;
	}
	select{
		max-width:100%;
			
	}
	.mobile-toggles{
		margin-right:20px;
	}
	.vc_row{
		margin-right:0 !important;
	}
	.owl-next {
	    right: -1px;
	}
	.owl-prev {
	    left: 8px;
	}
	.owl-buttons {
	    top: 144px !important;
	}
	.member{
		padding:0;
	}
	 .home-blog{
		width:48%;
	}
}
@media only screen and (max-width: 736px) {
	.mobile-hide{
		display:none;
	}
	.mobile-show{
		display:block;
	}
	.serv-content {
	    padding: 40px;
		width:100%;
	}
	.nextserv, .prevserv{
		display:none;
	}
	article.service{
		margin-right:0;
		margin-bottom:20px;
	}
	.home-blog:nth-child(even) {
	    margin:0;
	}
	.home-blog{
		width:100%;
		margin-bottom:20px !important;
	}
	.test-container{
		padding:20px;
	}
	.testimonial .test-content {
	    width: 100%;
	    height: auto;
	    background-color: #2a3442;
	    margin: 0 auto;
		padding:0;
	}
	#hero{
		padding:75px 0;
	}
	.service-overlay{
		display:none;
	}
	
	.home-blog.blog-post:nth-child(3n+2){
		margin-left:0;
		margin-right:0;
		
	}
	.member:nth-child(3n+2){
		margin:0;
	}
	.member {
	    width: 60%;
	    height: 400px;
	    margin: 0 auto !important;
		margin-bottom:20px !important;
		float:none;
	}
	
}
@media only screen and (max-width: 414px) {
	.serv-content{
		width:100%;
	}
	h1{
		font-size:28px;
	}
	.member {
	    width: 95%;
	}
	.member-image{
		width:100%;
		margin-right:0;
	}
	.member-info {
	    width: 100%;
	}
}